<!--<%- include('partials/head.ejs') %>-->
<%- include('partials/head1.ejs') %>
<link rel="stylesheet" href="/css/home.css">
<%- include('partials/head2.ejs') %> 
<%- include('partials/navbar.ejs') %> 
<div class="homepage">
    <div>
        <div class="logobg">
            <h1 id="roundedtext" style="font-size: 5rem;">THE BORING</h1>
            <div class="line2" style="font-size: 1rem;">
                <h1>SINCE</h1>
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-lightning-charge-fill" viewBox="0 0 16 16">
                    <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
                  </svg>
                <h1>2019</h1>
            </div>
            <div class="line3"><h1 style="font-size: 5rem;">COLLEGE</h1></div>
        </div>
    <div class="homebg">
    
    </div>
    </div>
<div class="content">
    </div>
</div>
    

<div class="box2">
  <div class="box2_image">
      <img src="https://www.filmcompanion.in/wp-content/uploads/2018/01/download-the-script-of-3-idiots-feature-98-1280x720.jpeg" alt="image">
  </div>
  <div class="box2_text">
      <h1>Keep Calm</h1>
      <h1>  And</h1>
      <h1>Stay Bored !!!</h1>
  </div>
</div>
 
<div class="box3">
    <h1>Kyuki</h1>
    <div class="box3Dlg">
    <h1>Mene To Phele Hi Bola Tha !!!</h1>
    <img src="/background/aman.jpg" alt="aman">
    </div>
</div>

<div class="box4">
    <div class="title">
        <h1>What We Do</h1>
    </div>
    <div class="content">
        <h2>We try to provide useful study materials for college students</h2>
    </div>
</div>
<script>
    new CircleType(document.getElementById('roundedtext'))
  .radius(600);
</script>
<%- include('partials/footer.ejs') %> 