<%- include('partials/head.ejs') %> 
<%- include('partials/navbar.ejs') %> 

<!--<h1 class="text-center" ><%= secondPerson.name %> </h1>
<button><a href="/students/<%= secondPerson._id %> ">Back</a></button>
-->
<div class="container" style="margin-left: 0;margin-right: 0;padding-right: 0;">
    <div class="row" style="max-height: 80vh;overflow: auto;margin-left: 0;margin-right: 0;padding-right: 0;">
        <div class="col-2" style="overflow: auto;min-height: 80vh;margin-left:0">
       
        </div>
        <div class="col">
            <div style="overflow: auto; min-height: 80vh;margin-right: 0;padding-right: 0;border: 2px solid black;">   
               
                <div id="chatWindow" style="display: block;">
                <% for(let mes of firstPerson.message) {%>
                    
                        <% if(JSON.stringify(mes.from)===JSON.stringify(secondPerson._id)) {%>
                            <% if(JSON.stringify(mes.to)===JSON.stringify(firstPerson._id)) {%>
                             <%= console.log(mes.message); %> 
                             <div  class="seconduser button is-rounded" style="display: block;">
                                 <p><%= mes.message%></p>
                                 
                             </div>
                             <% } %>  
                             <% }else if(JSON.stringify(mes.from)===JSON.stringify(firstPerson._id)){%>
                                 <% if(JSON.stringify(mes.to)===JSON.stringify(secondPerson._id)) {%>
                                     <div class="firstuser button is-rounded" style="display: block;">
                                         <p><%= mes.message %> </p>
                                     </div>
                                     <% } %>    
                                 
                                 <% } %> 
                         
                    
                   <% } %>
                </div>  
                </div>
                      
                <div class="bottom-left" >
                    <div >
                        <label for="from" style="display: none;">From : </label>
                        <input type="text" id="from" name="from" style="display: none;" placeholder=<%= firstPerson.name %> value=<%= firstPerson._id %> >
                        
                        <label for="to" style="display: none;">To : </label>
                        <input type="text" id="to" name="to" style="display: none;" placeholder=<%= secondPerson.name %> value=<%= secondPerson._id %>> 
                    
                        <label for="message">Message : </label>
                        <input type="text" id="message" name="message" placeholder="message">
                        <button id="send">Send</button>
                    </div>    
                </div>
                
        </div>
    </div>
</div>

    <script src="https://cdn.socket.io/3.1.1/socket.io.min.js" integrity="sha384-gDaozqUvc4HTgo8iZjwth73C6dDDeOJsAgpxBcMpZYztUfjHXpzrpdrHRdVp8ySO" crossorigin="anonymous"></script>
    <script src="/js/message.js"></script>
<%- include('partials/footer.ejs') %> 