<%- include('partials/head1.ejs') %>
<link rel="stylesheet" href="/css/studentprofile.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap" rel="stylesheet">
<%- include('partials/head2.ejs') %>
<%- include('partials/navbar.ejs') %> 

<div class="page">
    <div class="title">
        <h1>Student Profile</h1>
    </div>
<ul class="items">
    <!--<li>ID : <%= findstudent._id %> </li>-->
    <li>Name : <%= findstudent.name %></li>
    <li>Year : <%= findstudent.year %> </li>
    <li>Branch : <%= findstudent.branch %></li>
    <li>Section : <%= findstudent.section %></li>
    <li>Email : <%= findstudent.email %></li>
    <li>Description : <%= findstudent.description %></li>
</ul>

<div class="buttongroup">
    <a class="button is-rounded" href="/students/edit/<%= findstudent._id %> ">EDIT</a>
    <a class="button is-rounded message" href="/message/<%= findstudent._id %>" >MESSAGE</a>
    <a class="button is-rounded" href="/students/delete/<%= findstudent._id %> ">DELETE</a>
    <a class="button is-rounded" href="/students">BACK</a>
</div>
</div>
<%- include('partials/footer.ejs') %> 