<%- include('partials/head1.ejs') %>
<%- include('partials/head2.ejs') %> 
<%- include('partials/navbar.ejs') %> 

<h1 class="text-center"></h1>
<ul>
    <div class="container">
        <div class="row g-2">
            <div class="col-6">
                <div class="card p-3" style="width: 30rem;">
                    <div class="card-body">
                      <h2 class="card-title" style=" font-family: 'Bungee', cursive;">1st year</h2>
                      <% for(let student of firstyear) {%>
                        <li style="font-family: 'Merriweather', serif;"><a href="/students/<%= student._id %> "><%=student.name%></a></li>
                        <% } %>  
                        </div>
                  </div>
            </div>

            <div class="col-6">
                <div class="card p-3" style="width: 30rem;">
                    <div class="card-body">
                      <h2 class="card-title" style=" font-family: 'Bungee', cursive;">2nd year</h2>
                      <% for(let student of secondyear) {%>
                        <li style="font-family: 'Merriweather', serif;"><a href="/students/<%= student._id %> "><%=student.name%></a></li>
                        <% } %>  
                      </div>
                  </div>
            </div>

            <div class="col-6">
                <div class="card p-3" style="width: 30rem;">
                    <div class="card-body">
                      <h2 class="card-title" style=" font-family: 'Bungee', cursive;">3rd year</h2>
                      <% for(let student of thirdyear) {%>
                        <li style="font-family: 'Merriweather', serif;"><a href="/students/<%= student._id %> "><%=student.name%></a></li>
                        <% } %>  
                      </div>
                  </div>
            </div>

            <div class="col-6">
                <div class="card p-3" style="width: 30rem;">
                    <div class="card-body">
                      <h2 class="card-title" style=" font-family: 'Bungee', cursive;">4th year</h2>
                      <% for(let student of fourthyear) {%>
                        <li style="font-family: 'Merriweather', serif;"><a href="/students/<%= student._id %> "><%=student.name%></a></li>
                        <% } %>  
                      </div>
                  </div>
            </div>
        </div>
    </div>
    
    

</ul>
<%- include('partials/footer.ejs') %> 