<%- include('partials/head.ejs') %> 
<%- include('partials/navbar.ejs') %> 

<div class="text-center">
    <h1>Student Profile</h1>
<ul>
    
    <!--<li>ID : <%= findstudent._id %> </li>-->
    <li>Name : <%= findstudent.name %></li>
    <li>Year : <%= findstudent.year %> </li>
    <li>Branch : <%= findstudent.branch %></li>
    <li>Section : <%= findstudent.section %></li>
    <li>Email : <%= findstudent.email %></li>
    <li>Description : <%= findstudent.description %></li>
</ul>

<div>
    <button><a href="/students/edit/<%= findstudent._id %> ">EDIT</a></button>
    <button><a href="/message/<%= findstudent._id %>">MESSAGE</a></button>
    <button><a href="/students/delete/<%= findstudent._id %> ">DELETE</a></button>
    <button><a href="/">HOME</a></button>
    <button><a href="/students">BACK</a></button>
</div>
</div>
<%- include('partials/footer.ejs') %> 